source_oneprovider_version={{ cta_archive_source_oneprovider_version }}
onezone_url={{ cta_archive_onezone_url }}
source_space_name={{ cta_archive_source_space_name }}
source_provider={{ cta_archive_source_provider }}
api_token={{ cta_archive_api_token }}
